name: CI
on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - "README.md"
      - ".github/**"
    tags-ignore:
      - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - main
      - master
    paths-ignore:
      - "README.md"
      - ".github/**"
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
          cache: false
      - name: Build
        run: go test -race -cover -v ./...
      - name: Run lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          args: --timeout=10m
          skip-cache: true
      - name: Run vulnerability check
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.25.4
          go-package: ./...
          cache: false
      - name: Run tests
        run: |
          git diff --cached --exit-code
          go test -race -cover -v ./...
